* text=auto eol=lf

*.php   text eol=lf
*.js    text eol=lf
*.css   text eol=lf
*.html  text eol=lf
*.md    text eol=lf
*.txt   text eol=lf
*.sql   text eol=lf
*.yml   text eol=lf
*.json  text eol=lf

*.png   binary
*.jpg   binary
*.gif   binary
*.webp  binary
*.ico   binary
